@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: raleway;
  src: url("../src/assets/fonts/Raleway/Raleway-Regular.ttf");
}

* {
  --primary: #dda15e;
  --secondary: #bc6c25;
  --third: #fefae0;
  --fourth: #283618;
  --fifth: #606c38;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  scroll-behavior: smooth;
}

#timecontrol::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 25px;
  background-color: var(--fourth);
}

#timecontrol::-webkit-slider-thumb::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#volumecontrol::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 25px;
  background-color: var(--fourth);
}

select[data-open] {
  height: 50px;
  overflow: auto;
}
